.nav{
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    color: white;
    padding: 20px 40px;
    justify-content: center;
    position: fixed;
    top: 0;
    width:100%;
    .navLink {
        margin-right: 30px;
        color: white;
        text-decoration: none;
    }
}
